/.dfx/
/docs/
/node_modules/

/packages/pic/dist/
/examples/clock/declarations/
/examples/clock/tests/node_modules/
/examples/counter/declarations/
/examples/counter/tests/node_modules/

.env
.DS_Store
